      </div><!--/row-->

      <hr>

      {% if debugger %}
      <div class="accordion" id="debug">
        <div class="accordion-group">
          <div class="accordion-heading debug">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#debug" href="#debugpane">
              <i class="icon-wrench"></i> Debugger
            </a>
          </div>
          <div id="debugpane" class="accordion-body collapse">
            <div class="accordion-inner">
              <pre>{{ dump()|raw }}</pre>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <footer>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <p class="pull-right"><a href="#top"><i class="icon-arrow-up"></i></a></p>
              <p>&copy; {{ cms.name }} {{ "now"|date("Y") }} <span class="muted">/</span> <a href="#" class="credits">Credits</a> <span class="muted">/</span> <a href="http://chuck.studiomohu.com/" target="_blank">Docs</a></p>
            </div>
          </div>
        </div>
      </footer>

      <div class="modal fade hide" id="credits">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>&nbsp;</h3>
        </div>
        <div class="modal-body">
          <p class="lead well"  style="margin-left: 30px; width:430px !important;">{{ cms.name }} <small>v{{ cms.version }}</small> built by Rikki Pitt at <small><a href="http://www.studiomohu.com" target="_blank">Studio Mohu</a></small></p>
          <table class="table table-bordered" style="margin-left: 30px; width:470px !important;">
            <thead>
            <tr>
              <th>With thanks to the following open source softwares</th>
            </tr>
            </thead>
            <tbody>
              {% for dependency, version in cms.dependencies %}
              <tr>
                <td><i class="icon-star"></i> {{ dependency }}</td>
                <td>v{{ version }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div><!--/.fluid-container-->

      </body>
</html>