<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ sitename }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/css/admin-style.css" rel="stylesheet">
    <link href="/admin/css/font-awesome.min.css" rel="stylesheet">

    <link href="/admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/admin/css/datepicker.css" rel="stylesheet">
    <link href="/admin/css/colorpicker.css" rel="stylesheet">
    <link href="/admin/css/select2.css" rel="stylesheet">
    <link href="/admin/css/bootstrap-wysihtml5.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/admin/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="/admin/js/libs/jquery-ui-1.8.22.custom.min.js"></script>

    <!-- Plugins -->
    <script src="/admin/js/bootstrap-datepicker.js"></script>
    <script src="/admin/js/bootstrap-colorpicker.js"></script>
    <script src="/admin/js/jquery.validate.js"></script>
    <script src="/admin/js/additional-methods.js"></script>
    <script src="/admin/libs/dataTables/js/jquery.dataTables.min.js"></script>
    <script src="/admin/js/select2.min.js"></script>
    {#<script src="/admin/libs/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>#}

    <!-- wysihtml5 editor -->
    <script src="/admin/js/libs/wysihtml5/dist/wysihtml5-0.3.0.min.js"></script>
    <script src="/admin/js/bootstrap-wysihtml5.js"></script>

    <script src="/admin/js/bootstrap.js"></script>
    <script src="/admin/js/script.js"></script>

    <script>
      $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
        if ({% if module %}true{% else %}false{% endif %}) {
          $('ul.nav-list li.menu_{{ module }}').addClass('active');
          var id = $('ul.nav-list li.menu_{{ module }}').parents('.collapse').attr('id');
          $('#'+id).prev('.accordion-heading').find('.accordion-toggle i').animate({  borderSpacing: 45 }, {
            step: function(now, fx) {
              $(this).css('-webkit-transform', 'rotate(' + now + 'deg)');
              $(this).css('-moz-transform', 'rotate(' + now + 'deg)');
              $(this).css('transform', 'rotate(' + now + 'deg)');
            },
            duration:'fast'
          },'linear');
        }

        var links = [{% for menugroup in menu %}{% for key, item in menugroup %}
        {% if item %}{"id":"{{ key }}", "name": "{{ item }}"},{% endif %}{% endfor %}{% endfor %}];

        $('.search-query').typeahead({
          source: links,
          updater:function (item) {
            document.location.href = 'http://' + document.location.hostname + '/admin/' + item;
            // Return the item to reflect them into input
            return item;
          }
        });
      });
    </script>

  </head>

  <body>