        <style type="text/css">
          .actions {
            margin-right: 20px;
          }
          span[rel="tooltip"] {
            border-bottom: 1px dotted #CCC;
          }
          .fk.well {
            padding-left: 0px !important;
          }
        </style>
        <script type="text/javascript">
        $(document).ready(function() {

          $("[rel=tooltip]").tooltip({title: 'Required',delay: { show: 100, hide: 500 }});
          
          $("form").validate({
            errorPlacement: function(error, element) {
              $(element).closest('.control-group').addClass('error');

              $(element).closest('.control-group').find('.filter-search').css('border-color', '#cccccc');
              $(element).closest('.control-group').find('.options').css('border-color', '#e5e5e5').css('color', '#555555');

              error.insertAfter(element.parent('div'));
              error.insertAfter(element.parent('label').parent('div'));
              error.insertAfter(element.parent('div').parent('div').parent('div'));

              error.css('margin', '10px 0px 0px 160px');
              error.css('clear', 'both');
            },
            success: function(element){
              $(element).parent('div').removeClass('error');
              $(element).remove();
            }
          });

          $('form.add').submit(function(event) {
            tinyMCE.triggerSave();
            var status = [];
            $('form .textarea').each(function() {
              valid = $("#" + this.id).valid(); // Validate again
              status.push(valid);
            });

            var textarea_validate = $.inArray(0, status);

            if (textarea_validate > 0) {
              event.preventDefault()
            }
          });

          var updateDatepickers = function () {
            $('input.datepick').each(function() {
              var id = $(this).parent('div').attr('id');
              $('#' + id).datepicker({
                format: 'yyyy-mm-dd'
              });
            });
          };

          updateDatepickers();

          var updateColourpickers = function () {
            $('input.colourpick').each(function() {
              var id = $(this).attr('id');
              $('#' + id).colorpicker().on('changeColor', function(ev){
                $(this).find('input.colourpick').val(ev.color.toHex());
              });
            });
          };

          updateColourpickers();

          $.each($("select[multiple]"), function () {
            var label = $(this).parent().parent().find('label').text();
            SelectFilter.init(this.id, label);
          });

          var updateMultiselects = function () {
            $('select[multiple]').filter('.chosen').find('option').each(function() {
//              console.log(this);
              $(this).attr('selected', 'selected');
              $(this).parent('select[multiple]').filter('.chosen').valid();
            });
          };

          $('div.form-actions button').click(function() {
            updateMultiselects();
          });
          
          var regex = /\[\d+\]/g;
          var regex2 = /\d+(?!.*\d+)/i;
          
          $(".own").each(function() {
            $(this).find("a.remove").eq(0).hide();
          });

          $("a.clone").live("click", function() {
            var id = $(this).parents(".own").attr('id');
            var dataid = $(this).parents(".own").data('id');
              $(this).parents(".own").clone().insertAfter("#" + id + "[data-id='" + dataid +"']").attr("id", (id)).attr("data-id", (dataid + 1)).find("input, select").each(function() {
                $(this).parents(".own").find("a.remove").show();
                  var name = this.name || "";
                  var match = name.match(regex) || [];
                  var index = String(match).match(regex2) || [];
                  var index = parseInt(index) + 1;
                  if (match.length > 0) {
                    this.name = (this.name).replace(regex, "[" + index + "]");
                    if ($(this).filter(":text").length > 0) {
                      $(this).val('');
                    }
                    if ($(this).filter(":file").length > 0) {
                      $(this).attr("value","");
                    }
                    if ($(this).filter(".datepick").length > 0) {
                      var id = this.id || "";
                      var match = id.match(regex2) || [];
                      if (match.length > 0) {
                        this.id = (this.id).replace(regex2, Math.floor(Math.random() * 1001));
                      }
                    }
                    if ($(this).filter(":radio").length > 0) {
                      $(this).prop('checked', false);
                    }
                  }
              });
              $(this).hide();
              updateDatepickers();
          });

          $("a.remove").live("click", function() {
            $("a.clone:hidden:last").show();
            $(this).parents(".own").remove();
          });

          {% if groups %}
            {% for module, array in groups %}
              {% for group, values in array %}
                {% if group == 'toggle' %}
                  $("input:radio").live("change", function() {
                    {% for field, options in values %}
                      var selected = $(this).filter('.{{ field }}').val();
                      {% for key, toggle in options %}
                        if (selected == '{{ key }}') {
                          if ( $(this).parents('.own').length ) {
                            // Toggle this own div fields
                            {% for toggles in options %}
                              if ('{{ toggle }}' === '{{ toggles }}') {
                                $(this).parents('.own').find('div.[data-type="{{ toggles }}"]').eq(0).show(300);
                              } else {
                                $(this).parents('.own').find('div.[data-type="{{ toggles }}"]').eq(0).hide();
                              }
                            {% endfor %}
                          } else if ( $(this).parents('.main').length ) {
                            // Toggle the main model fields
                            {% for toggles in options %}
                              if ('{{ toggle }}' === '{{ toggles }}') {
                                console.log('{{ toggles }}');
                                $(this).parents('.main').find('div.[data-type="{{ toggles }}"]').eq(0).show(300);
                              } else {
                                console.log('{{ toggles }}');
                                $(this).parents('.main').find('div.[data-type="{{ toggles }}"]').eq(0).hide();
                              }
                            {% endfor %}
                          }
                        }
                      {% endfor %}
                    {% endfor %}
                  });
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}

        });
        </script>
        <div class="span9">

          <form class="form-horizontal add" method="post" enctype="multipart/form-data">

            <div class="page-header">
              <a class="btn btn-small pull-right" href="/admin/{{ module }}">Cancel</a>
              <button type="submit" name="save" class="btn btn-primary btn-small pull-right" style="margin-right:5px;"><i class="icon-pencil icon-white"></i> Save</button>
              <h1>
                Add
                <small>{{ module|title }}</small>
              </h1>
            </div>
            <div id="main" class="main" data-id="{{ loop.index }}">

            <fieldset>
            {% for key, field in fields %}
            {% if field.type != 'foreignkey' %}
            {% if field.type == 'text' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                  {% if field.prepend or field.append %}
                  <div class="{% if field.prepend %}input-prepend {% endif %}{% if field.append %}input-append{% endif %}">
                  {% endif %}
                  {% if field.prepend %}<span class="add-on">{{ field.prepend }}</span>{% endif %}<input type="text" class="input-xlarge{% if field.required %} required{% endif %}{% if field.validate %} {{ field.validate }}{% endif %}"{% if field.equalto %} equalto="#{{ module }}[{{ field.equalto }}]"{% endif %}{% if field.maxlength %} maxlength="{{ field.maxlength }}"{% endif %} id="{{ module }}[{{ key }}]" name="{{ module }}[{{ key }}]"{% if field.readonly %} readonly{% endif %}>{% if field.append %}<span class="add-on">{{ field.append }}</span>{% endif %}
                  {% if field.prepend or field.append %}
                  </div>
                  {% endif %}
                  {% if field.help %}
                  <span class="help-inline">{{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'textarea' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|lower|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                  <textarea class="input-xlarge span8{% if field.rich_editor %} textarea{% endif %}{% if field.required %} required{% endif %}" rows="8" id="{{ key }}" name="{{ module }}[{{ key }}]"{% if field.readonly %} readonly{% endif %}></textarea>
                  {% if field.help %}
                  <p class="help-block">{{ field.help|raw }}</p>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'date' %}
              <div class="control-group input-append{% if field.onload == 'hide' %} hide{% endif %}" data-date="{{ "now"|date("Y-m-d") }}" data-date-format="yyyy-mm-dd" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                <div class="controls date" id="date{{ loop.index }}">
                  <input type="text" id="date{{ loop.index }}" class="input-small datepick{% if field.required %} required{% endif %}" name="{{ module }}[{{ key }}]" readonly><span class="add-on"><i class="icon-th"></i></span>
                  {% if field.help %}
                  <span class="help-inline">{{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'file' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" id="{{ key }}" name="{{ module }}[type]" value="{{ module }}">
                  <input type="file" class="input-file input-xlarge{% if field.required %} required{% endif %}" accept="{{ field.validate }}" id="{{ key }}" name="{{ module }}[{{ key }}|{{ field.path }}|{{ field.accept }}]">
                  {% if field.help %}
                  <span class="help-inline" style="margin-left:42px;">{{ field.help|raw }}</span>
                  {% endif %}
                  <br /><span class="label">Allowed file types: {{ field.accept }}</span>
                </div>
              </div>
            {% elseif field.type == 'colour' %}
            <div class="control-group{% if field.onload == 'hide' %} hide{% endif %} input-append color" id="{{ key }}" data-color-format="hex" data-color="#0088cc" data-type="{{ key }}">
              <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
              <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
              <div class="controls" id="colour{{ loop.index }}">
                <input type="text" class="input-small colourpick{% if field.required %} required{% endif %}" id="{{ key }}" name="{{ module }}[{{ key }}]" value="#0088cc"><span class="add-on"><i style="background-color: #0088CC;"></i></span>
                {% if field.help %}
                <span class="help-inline">{{ field.help|raw }}</span>
                {% endif %}
              </div>
            </div>
            {% elseif field.type == 'select' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>                
                <div class="controls">
                  <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                  <select id="{{ key }}" class="input-xlarge{% if field.required %} required{% endif %}" name="{{ module }}[{{ key }}]">
                    <option value="">-- Select --</option>
                    {% for item, key in field.values %}
                    <option value="{{ key }}">{{ item|capitalize }}</option>
                    {% endfor %}
                  </select>
                  {% if field.help %}
                  <span class="help-inline">{{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'radio' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                  {% for item, key2 in field.values %}
                  <label class="radio{% if field.inline %} inline{% endif %}">
                    <input type="radio" class="{{ key }} {% if field.required and loop.first %} required{% endif %}" name="{{ module }}[{{ key }}]" value="{{ key2 }}">
                    {{ item|capitalize }}
                  </label>
                  {% endfor %}
                  {% if field.help %}
                  <span class="help-{% if field.inline %}block{% else %}inline{% endif %}">{{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'order' %}
              <div class="control-group">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                  <select id="{{ key }}" class="span3{% if field.required %} required{% endif %}" name="{{ module }}[{{ key }}]">
                    <option value="">-- Select order --</option>
                    {% for item, key in field.values %}
                    <option value="{{ key }}" {% if loop.last %}selected{% endif %}>{{ item }}{% if loop.first %} (First){% elseif loop.last and loop.length > 1 %} (Last){% endif %}</option>
                    {% endfor %}
                  </select>
                  {% if field.help %}
                  <span class="help-inline">{{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {% endif %}
            {% endfor %}

            </div>

            {% for key, field in fields %}
            {% if field.type == 'foreignkey' %}
            {% if field.relation == 'own' %}
              <div class="page-header">
                <h1>
                  <small>{{ key|slice(3, 100)|capitalize }}{% if field.required %} *{% endif %}</small>
                </h1>
              </div>
              <div id="own{{ loop.index }}" class="own" data-id="{{ loop.index }}">
                <div class="actions pull-right">
                  <a class="btn btn-mini btn-primary clone"><i class="icon-plus-sign icon-white"></i> Add</a>
                  <a class="btn btn-mini btn-primary remove"><i class="icon-remove-sign icon-white"></i> Remove</a>
                </div>
              {% for fkkey, fkfield in field.fields %}
                {% if fkfield.type == 'text' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <div class="controls">
                      <input type="hidden" name="{{ module }}[{{ key }}][0][type]" value="{{ key|slice(3, 100)|lower }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][0][region]" value="{{ session.region }}">{% endif %}
                      <input type="text" class="input-xlarge{% if fkfield.validate %} {{ fkfield.validate }}{% endif %}"{% if fkfield.maxlength %} maxlength="{{ fkfield.maxlength }}"{% endif %} id="{{ module }}[{{ key }}][0][{{ fkkey }}]" name="{{ module }}[{{ key }}][0][{{ fkkey }}]"{% if fkfield.readonly %} readonly{% endif %}>
                      {% if fkfield.help %}
                      <span class="help-inline">{{ fkfield.help|raw }}</span>
                      {% endif %}
                      </div>
                   </div>
                {% elseif fkfield.type == 'textarea' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <div class="controls">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][0][region]" value="{{ session.region }}">{% endif %}
                      <textarea class="input-xlarge {% if fkfield.rich_editor %} textarea{% endif %}{% if fkfield.required %} required{% endif %}" name="{{ module }}[{{ key }}][0][{{ fkkey }}]"{% if fkfield.readonly %} readonly{% endif %}></textarea>
                      {% if fkfield.help %}
                      <p class="help-block">{{ fkfield.help|raw }}</p>
                      {% endif %}
                    </div>
                  </div>
                {% elseif fkfield.type == 'date' %}
                  <div class="control-group input-append{% if fkfield.onload == 'hide' %} hide{% endif %}" data-date="{{ "now"|date("Y-m-d") }}" data-date-format="yyyy-mm-dd" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <input type="hidden" name="{{ module }}[{{ key }}][0][type]" value="{{ key|slice(3, 100)|lower }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][0][region]" value="{{ session.region }}">{% endif %}
                    <div class="controls date" id="date{{ loop.index }}">
                      <input type="text" class="input-small datepick{% if field.required %} required{% endif %}" name="{{ module }}[{{ key }}][0][{{ fkkey }}]" readonly><span class="add-on"><i class="icon-th"></i></span>
                      {% if fkfield.help %}
                      <span class="help-inline">{{ fkfield.help|raw }}</span>
                      {% endif %}
                    </div>
                  </div>
                {% elseif fkfield.type == 'file' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <div class="controls">
                      <input type="hidden" name="{{ module }}[{{ key }}][0][type]" value="{{ key|slice(3, 100)|lower }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][0][region]" value="{{ session.region }}">{% endif %}
                      <input type="file" class="input-file{% if fkfield.required %} required{% endif %}" name="{{ module }}[{{ key }}][0][{{ key|slice(3, 100)|lower }}|{{ fkfield.path }}|{{ fkfield.accept }}|{{ fkkey|lower }}]">
                      {% if fkfield.help %}
                      <span class="help-inline" style="margin-left:42px;">{{ fkfield.help|raw }}</span>
                      {% endif %}
                      <br /><span class="label">Allowed file types: {{ fkfield.accept }}</span>
                    </div>
                  </div>
                {% elseif fkfield.type == 'select' %}
                <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                  <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>                
                  <div class="controls">
                    <input type="hidden" name="{{ module }}[{{ key }}][0][type]" value="{{ key|slice(3, 100)|lower }}">
                    {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][0][region]" value="{{ session.region }}">{% endif %}
                    <select id="{{ key }}" class="input-xlarge{% if fkfield.required %} required{% endif %}" name="{{ module }}[{{ key }}][0][{{ fkkey }}]">
                      <option value="">-- Select --</option>
                      {% for item, key in fkfield.values %}
                      <option value="{{ key }}">{{ item|capitalize }}</option>
                      {% endfor %}
                    </select>
                    {% if field.help %}
                    <span class="help-inline">{{ field.help|raw }}</span>
                    {% endif %}
                  </div>
                </div>
                {% elseif fkfield.type == 'radio' %}
                <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                  <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>                
                  <div class="controls">
                    <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                    {% for item, key2 in fkfield.values %}
                    <label class="radio{% if fkfield.inline %} inline{% endif %}">
                      <input type="radio" class="{{ fkkey }}{% if fkfield.required %} required{% endif %}" name="{{ module }}[{{ key }}][0][{{ fkkey }}]" value="{{ key2 }}">
                      {{ item|capitalize }}
                    </label>
                    {% endfor %}
                    {% if fkfield.help %}
                    <span class="help-{% if fkfield.inline %}block{% else %}inline{% endif %}">{{ fkfield.help|raw }}</span>
                    {% endif %}
                  </div>
                </div>
                {% elseif fkfield.type == 'foreignkey' %}
                <!--  -->
                <div class="fk well control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                  <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                  <input type="hidden" name="{{ module }}[{{ key }}][0][{{ fkkey }}][0][type]" value="{{ fkkey|slice(6, 100)|lower }}">
                  <div class="controls" >
                    <select{% if not fkfield.one %} multiple="multiple"{% endif %} name="{{ module }}[{{ key }}][0][{{ fkkey }}][0][id]" id="{{ key }}" class="input-xlarge{% if fkfield.required %} required{% endif %}">
                    {% if fkfield.one %}
                    <option value="">-- Select --</option>
                    {% endif %}
                    {% for fkfield in fkfield.fields %}
                    <option value="{{ fkfield.id }}">{{ fkfield.id }}: {{ fkfield.selecttitle }}</option>
                    {% endfor %}
                    </select>
                    {% if fkfield.help %}
                    <span class="help-inline">{{ fkfield.help|raw }}</span>
                    {% endif %}
                  </div>
                </div>
              {% endif %}

              {% endfor %}
              <hr>
              </div>
              {% elseif field.relation == 'shared' %}
              <div class="page-header" data-type="{{ key }}">
                <h1>
                  <small>{{ field.label|capitalize }}</small>
                </h1>
              </div>
              <div class="actions pull-right" data-type="{{ key }}">
                  <a href="/admin/{{ key|slice(6, 100)|lower }}" class="btn btn-mini btn-primary" target="_blank"><i class="icon-plus-sign icon-white"></i> Add</a> 
              </div>
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <select{% if not field.one %} multiple="multiple"{% endif %} name="{{ key }}[]" id="{{ key }}" class="input-xlarge{% if field.required %} required{% endif %}">
                  {% if field.one %}
                    <option value="">-- Select --</option>
                  {% endif %}
                  {% for fkfield in field.fields %}
                    <option value="{{ fkfield.id }}">{{ fkfield.id }}: {{ fkfield.selecttitle }}</option>
                  {% endfor %}
                  </select>
                  {% if field.help %}
                    <span class="help-inline">{{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% endif %}
              {% endfor %}
              <div class="form-actions">
                {% if session.region %}<input type="hidden" id="region" name="{{ module }}[region]" value="{{ session.region }}">{% endif %}
                
                <input type="hidden" id="modulename" name="modulename" value="{{ module }}">
                <button type="submit" name="save" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Save</button>
                <a class="btn" href="/admin/{{ module }}">Cancel</a>
              </div>
            </fieldset>
          </form>

        </div>