        <script type="text/javascript">
        $(document).ready(function() {
          $.validator.setDefaults({ ignore: ''});
          function format(item) {
            var image = $(item.element).data('image');

            if (image) {
              return "<div class='clearfix'><img class='thumbnail pull-left' src='/" + image + "'>" + item.text + "</div>";
            } else {
              return item.text;
            }
          }
          var initSelect2 = function () {
            $(".select2").select2({
              placeholder: "Click to select",
              allowClear: true,
              formatSelection: format,
              formatResult: format
            });
          };
          initSelect2();

          $("[rel=tooltip]").tooltip({title: 'Required',delay: { show: 100, hide: 500 }});

          $("form.edit").validate({
            errorPlacement: function(error, element) {
              $(element).closest('.control-group').addClass('error');

              $(element).closest('.control-group').find('.filter-search').css('border-color', '#cccccc');
              $(element).closest('.control-group').find('.options').css('border-color', '#e5e5e5').css('color', '#555555');

              error.insertAfter(element.parent('div'));
              error.insertAfter(element.parent('label').parent('div'));
              error.insertAfter(element.parent('div').parent('div').parent('div'));

              error.css('margin', '10px 0px 0px 180px');
              error.css('clear', 'both');
            },
            success: function(element){
              $(element).parent('div').removeClass('error');
              $(element).remove();
            }
          });

          $('form.edit').submit(function(event) {
            tinyMCE.triggerSave();
            var status = [];

            $('form .textarea').each(function() {
              valid = $("#" + this.id).valid(); // Validate again
              status.push(valid);
            });

            var check_validate = $.inArray(0, status);

            if (check_validate > 0) {
              event.preventDefault();
            }
          });

          $(".showmodal").live("click", function(e) {
            e.preventDefault();
            console.log($(this).parent().parent().nextAll('.modal').modal('show'));
          });
          $(".showmodal2").live("click", function() {
            console.log($(this).parent().parent().parent().nextAll('.modal').modal('show'));
          });

          var updateDatepickers = function () {
            $('input.datepick').each(function() {
              var id = $(this).parent('div').attr('id');
              $('#' + id).datepicker({
                format: 'yyyy-mm-dd'
              });
            });
          };

          updateDatepickers();

          var updateColourpickers = function () {
            $('input.colourpick').each(function() {
              var id = $(this).attr('id');
              $('#' + id).colorpicker().on('changeColor', function(ev){
                $(this).find('input.colourpick').val(ev.color.toHex());
              });
            });
          };

          updateColourpickers();

          var regex = /\d+/g;
          var regex2 = /\d+(?!.*\d+)/i;

          $("a.remove, a.clone").hide();
          $(".own").each(function(index) {
            var id = $(this).attr('id');

//            $("." + id).find("a.remove").last().show();
//            $("." + id).find("a.remove").first().hide();
            $("." + id).find("a.clone").last().show();
          });

          $("a.clone").live("click", function() {
            // Destroy select2, re-initialise at end of clone
            $(".select2").select2("destroy");
            var id = $(this).parents(".own").attr('id');
            var dataid = $(this).parents(".own").data('id');
              $(this).parents(".own").clone().insertAfter("#" + id + "[data-id='" + dataid +"']").attr("id", (id)).attr("data-id", (dataid + 1)).find("input, select, textarea").each(function() {
                $(this).parents(".own").find("span.label.label-info").remove();
                $(this).parents(".own").find(".imgbox").remove();
                $(this).parents(".own").find("a.remove").show();
                  var name = this.name || "";
                  var match = name.match(regex) || [];
//                  console.log(match);
//                  var index = String(match).match(regex2) || [];
//                  console.log(index);
//                  index = parseInt(index) + 1;
                  if (match.length > 0) {
                    this.name = (this.name).replace(regex, function (val) { return parseInt(val) + 1; });
                    $(this).filter('.ownid').remove();
                    if ($(this).filter(":text").length > 0) {
                      $(this).val('');
                    }
                    if ($(this).filter(":file").length > 0) {
                      $(this).attr("value","");
                    }
                    if ($(this).filter(".datepick").length > 0) {
                      var id = this.id || "";
                      var match = id.match(regex2) || [];
                      if (match.length > 0) {
                        this.id = (this.id).replace(regex2, Math.floor(Math.random() * 1001));
                      }
                    }
                    if ($(this).filter(":radio").length > 0) {
                      $(this).prop('checked', false);
                    }
                    if ($(this).filter("select").length > 0) {
                      $(this).find('option').each(function() {
                        $(this).prop('selected', false);
                      });
                    }
                    if ($(this).filter("textarea").length > 0) {
                      $(this).val('');
                    }
                  }
              });
              $(this).hide();
              updateDatepickers();
              initSelect2();
          });

          $("a.remove").live("click", function() {
            $("a.clone:hidden:last").show();
              $(this).parents(".own").remove();
          });

          {% if settings.delete %}
          $('a.delete').click(function(event) {
            event.preventDefault();
            var id = $(this).attr('id');
            if(id) {
              $('#delete-confirm.alert').show().animate({opacity: 1.0}, 3000);
              $('#delete-confirm a.delete-confirm').data('id', id);
            }
          });

          $('#delete-confirm a.cancel').click(function(e) {
            e.preventDefault();
            $('#delete-confirm.alert').hide();
          });

          $('#delete-confirm a.delete-confirm').click(function() {
            var id = $(this).data('id');
            window.location = '/admin/{{ module }}/delete/' + id + '?start={{ pagination.start }}';
          });
          {% endif %}

          {% if groups %}
            {% for module, array in groups %}
              {% for group, values in array %}
                {% if group == 'toggle' %}
                  {% for field, options in values %}
                    {% for key, toggle in options %}
                      $('.own, .main').find('div.[data-type="{{ toggle }}"]').each(function() {
                        var checked = $(this).parents('.own, .main').find("input:radio:checked").val();
                        if (checked != '{{ key }}') $(this).hide();
                      });
                    {% endfor %}
                  {% endfor %}
                  $("input:radio").live("change", function() {
                    {% for field, options in values %}
                      var selected = $(this).filter('.{{ field }}').val();
                      {% for key, toggle in options %}
                        if (selected == '{{ key }}') {
                          if ( $(this).parents('.own').length ) {
                            // Toggle this own div fields
                            {% for toggles in options %}
                              if ('{{ toggle }}' === '{{ toggles }}') {
                                $(this).parents('.own').find('div.[data-type="{{ toggles }}"]').eq(0).show(300);
                              } else {
                                $(this).parents('.own').find('div.[data-type="{{ toggles }}"]').eq(0).hide();
                              }
                            {% endfor %}
                          } else if ( $(this).parents('.main').length ) {
                            // Toggle the main model fields
                            {% for toggles in options %}
                              if ('{{ toggle }}' === '{{ toggles }}') {
                                $(this).parents('.main').find('div.[data-type="{{ toggles }}"]').eq(0).show(300);
                              } else {
                                $(this).parents('.main').find('div.[data-type="{{ toggles }}"]').eq(0).hide();
                              }
                            {% endfor %}
                          }
                        }
                      {% endfor %}
                    {% endfor %}
                  });
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}

        });
        </script>
        <div class="span9">

          <form class="form-horizontal edit" method="post" enctype="multipart/form-data">

            <div class="page-header">
              <div class="btn-group pull-right">
                <button type="submit" name="update" class="btn btn-primary btn-small"><i class="icon-check icon-white"></i> Save</button>
                <a class="btn btn-small cancel-edit" href="/admin/{{ module }}"><i class="icon-ban-circle"></i> Cancel</a>
              </div>
              <h1>
                Edit
                <small>{{ module|title }}</small>
              </h1>
            </div>
            <div id="main" class="main" data-id="{{ loop.index }}">

            <fieldset>
            {% for key, field in fields %}
            {% if field.type != 'foreignkey' and key != 'id' %}
            {% if field.type == 'text' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" id="{{ key }}" name="{{ module }}[type]" value="{{ module }}">
                  {% if field.prepend or field.append %}
                  <div class="{% if field.prepend %}input-prepend {% endif %}{% if field.append %}input-append{% endif %}">
                  {% endif %}
                  {% if field.prepend %}<span class="add-on">{{ field.prepend }}</span>{% endif %}<input type="text" class="input-xlarge{% if field.required %} required{% endif %}{% if field.validate %} {{ field.validate }}{% endif %}"{% if field.equalto %} equalto="#{{ module }}[{{ field.equalto }}]"{% endif %}{% if field.maxlength %} maxlength="{{ field.maxlength }}"{% endif %} id="{{ key }}" name="{{ module }}[{{ key }}]" value="{{ field.value }}"{% if field.readonly %} readonly{% endif %}>{% if field.append %}<span class="add-on">{{ field.append }}</span>{% endif %}
                  {% if field.prepend or field.append %}
                  </div>
                  {% endif %}
                  {% if field.help %}
                  <span class="help-inline"><i class="icon-info-sign help"></i> {{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'textarea' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                  <textarea class="input-xlarge span8{% if field.rich_editor %} textarea{% endif %} {% if field.required %} required{% endif %}" rows="8" id="{{ key }}" name="{{ module }}[{{ key }}]"{% if field.readonly %} readonly{% endif %}>{{ field.value }}</textarea>
                  {% if field.help %}
                  <p class="help-block"><i class="icon-info-sign help"></i> {{ field.help|raw }}</p>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'date' %}
              <div class="control-group input-append{% if field.onload == 'hide' %} hide{% endif %}" id="{{ key }}" data-date="{% if field.value %}{{ field.value }}{% else %}{{ "now"|date("Y-m-d") }}{% endif %}" data-date-format="yyyy-mm-dd" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                <div class="controls date" id="date{{ loop.index }}">
                  <input type="text" class="input-small datepick{% if field.required %} required{% endif %}" id="{{ key }}" name="{{ module }}[{{ key }}]" value="{{ field.value }}" readonly><span class="add-on"><i class="icon-th"></i></span>
                  {% if field.help %}
                  <span class="help-inline"><i class="icon-info-sign help"></i> {{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'colour' %}
              <div class="control-group input-append color{% if field.onload == 'hide' %} hide{% endif %}" id="{{ key }}" data-color-format="hex" data-color="{% if field.value %}{{ field.value }}{% else %}#0088cc{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                <div class="controls" id="colour{{ loop.index }}">
                  <div class="input-append">
                    <input type="text" class="input-small colourpick{% if field.required %} required{% endif %}" id="{{ key }}" name="{{ module }}[{{ key }}]" value="{{ field.value }}"><span class="add-on color"><i style="background-color: #0088CC;"></i></span>
                  </div>
                  {% if field.help %}
                  <span class="help-inline"><i class="icon-info-sign help"></i> {{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'file' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" id="{{ key }}" name="{{ module }}[type]" value="{{ module }}">
                  <input type="file" class="input-file input-xlarge{% if field.required and not field.value %} required{% endif %}" id="{{ key }}" name="{{ module }}[{{ key }}|{{ field.path }}|{{ field.accept }}]">
                  {% if field.help %}
                  <span class="help-inline" style="margin-left:10px;"><i class="icon-info-sign help"></i> {{ field.help|raw }}</span>
                  {% endif %}
                  <br /><span class="label">Allowed file types: {{ field.accept }}</span>
                  {% if field.value %}
                  <div class="row-fluid imgbox" style="margin-top:10px;">
                    <div class="span8 well clearfix">
                      {% if field.isimage %}
                      <div class="thumbnails span2 showmodal">
                        <a href="#" class="thumbnail">
                          <img src="/{{ field.value }}">
                        </a>
                      </div>
                      {% endif %}
                      <div class="span6">
                        <span class="label label-info{% if field.isimage %} showmodal2{% endif %}">Current file: {{ field.value }}{% if field.isimage %} <i class="icon-zoom-in icon-white"></i> {% endif %}</span>
                        <br />
                        <label class="checkbox inline">
                          <input type="checkbox" name="removeimages[{{ module }}][{{ fields.id }}][{{ key }}]" value="{{ field.value }}"> Remove current {% if field.isimage %}image{% else %}file{% endif %}?
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade hide" id="modal">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                      <h3>Preview</h3>
                    </div>
                    <div class="modal-body">
                      <center><img src="/{{ field.value }}" style="max-width:500px;" /></center>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'select' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                  <select id="{{ key }}" class="input-xlarge{% if field.required %} required{% endif %}" name="{{ module }}[{{ key }}]">
                    <option value="">-- Select --</option>
                    {% for item, key in field.values %}
                    <option value="{{ key }}"{% if key == field.value %} selected{% endif %}>{{ item|capitalize }}</option>
                    {% endfor %}
                  </select>
                  {% if field.help %}
                  <span class="help-inline"><i class="icon-info-sign help"></i> {{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'multiselect' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                  <select id="{{ key }}" class="input-xlarge select2{% if field.required %} required{% endif %}" name="{{ module }}[{{ key }}][]" multiple="multiple">
                    {% for item, key in field.values %}
                    <option value="{{ key }}"{% if key in field.value %} selected{% endif %}>{{ item|capitalize }}</option>
                    {% endfor %}
                  </select>
                  {% if field.help %}
                  <span class="help-inline"><i class="icon-info-sign help"></i> {{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'radio' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                  {% for item, key2 in field.values %}
                  <label class="radio{% if field.inline %} inline{% endif %}">
                    <input type="radio" class="{{ key }}{% if field.required %} required{% endif %}" name="{{ module }}[{{ key }}]" value="{{ key2 }}"{% if key2 == field.value and field.value is not null %} checked{% endif %}{% if field.readonly %} disabled{% endif %}>
                    {{ item|capitalize }}
                  </label>
                  {% endfor %}
                  {% if field.readonly %}<input type="hidden" class="{{ key }}" name="{{ module }}[{{ key }}]" value="{{ field.value }}">{% endif %}
                  {% if field.help %}
                  <span class="help-{% if field.inline %}block{% else %}inline{% endif %}"><i class="icon-info-sign help"></i> {{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'checkbox' %}
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ key }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                  {% for item, key2 in field.values %}
                  <label class="checkbox{% if field.inline %} inline{% endif %}">
                    <input type="checkbox" class="{{ key }}{% if field.required %} required{% endif %}" name="{{ module }}[{{ key }}][]" value="{{ key2 }}"{% if key2 in field.value and field.value is not null %} checked{% endif %}{% if field.readonly %} disabled{% endif %}>
                    {{ item|capitalize }}
                  </label>
                  {% endfor %}
                  {% if field.readonly %}<input type="hidden" class="{{ key }}" name="{{ module }}[{{ key }}]" value="{{ field.value }}">{% endif %}
                  {% if field.help %}
                  <span class="help-{% if field.inline %}block{% else %}inline{% endif %}"><i class="icon-info-sign help"></i> {{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% elseif field.type == 'order' %}
              <div class="control-group">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                  <select id="{{ key }}" class="span3{% if field.required %} required{% endif %}" name="{{ module }}[{{ key }}]">
                    <option value="">-- Select order --</option>
                    {% for item, key in field.values %}
                    <option value="{{ key }}"{% if key == field.value %} selected{% endif %}>{{ item }}{% if loop.first %} (First){% elseif loop.last and loop.length > 1 %} (Last){% endif %}</option>
                    {% endfor %}
                  </select>
                  {% if field.help %}
                  <span class="help-inline"><i class="icon-info-sign help"></i> {{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
              {% elseif field.type == 'separator' %}
              <div class="control-group">
                <div class="controls">
                  <blockquote>
                    {% if field.label %}<p>{{ field.label|raw }}</p>{% endif %}
                    {% if field.text %}<small>{{ field.text|raw }}</small>{% endif %}
                  </blockquote>
                </div>
              </div>
              {% endif %}

            {% endif %}
            {% endfor %}

            </div>

            {% for key, field in fields %}
            {% set test = loop.index %}
            {% if field.type == 'foreignkey' %}
            {% if field.relation == 'own' %}
              <legend>{{ field.label|capitalize }} <small class="pull-right" style="margin-right: 28px;">[{{ key|slice(3, 100)|capitalize }}]</small></legend>
            {% if field.fields %}
            {% for own in field.fields %}
            {% set index = loop.index0 %}
              <div id="own{{ test }}" class="own own{{ test }}" data-id="{{ loop.index }}">
                <div class="actions pull-right">
                  <a class="btn btn-small btn-link clone"><i class="icon-plus"></i> Add</a>
                  <a class="btn btn-small btn-link remove"><i class="icon-minus"></i> Remove</a>
                </div>
              {% for fkkey, fkfield in own %}

                {% if fkfield.type == 'text' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <div class="controls">
                      <input type="hidden" class="ownid" name="{{ module }}[{{ key }}][{{ index }}][id]" value="{{ fkfield.id }}">
                      <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                      <input type="text" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]" value="{{ fkfield.value }}" class="input-xlarge{% if fkfield.required %} required{% endif %}{% if fkfield.validate %} {{ fkfield.validate }}{% endif %}"{% if fkfield.maxlength %} maxlength="{{ fkfield.maxlength }}"{% endif %}{% if fkfield.readonly %} readonly{% endif %}>
                      {% if fkfield.help %}
                      <span class="help-inline"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                      {% endif %}
                    </div>
                  </div>
                {% elseif fkfield.type == 'textarea' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <div class="controls">
                      <input type="hidden" class="ownid" name="{{ module }}[{{ key }}][{{ index }}][id]" value="{{ fkfield.id }}">
                      <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                      <textarea class="input-xlarge span8{% if fkfield.rich_editor %} textarea{% endif %}{% if fkfield.required %} required{% endif %}" rows="8" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]"{% if fkfield.readonly %} readonly{% endif %}>{{ fkfield.value }}</textarea>
                      {% if fkfield.help %}
                      <p class="help-block"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</p>
                      {% endif %}
                    </div>
                  </div>
                {% elseif fkfield.type == 'date' %}
                  <div class="control-group input-append{% if fkfield.onload == 'hide' %} hide{% endif %}" data-date="{{ "now"|date("Y-m-d") }}" data-date-format="yyyy-mm-dd" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <input type="hidden" class="ownid" name="{{ module }}[{{ key }}][{{ index }}][id]" value="{{ fkfield.id }}">
                    <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                    <div class="controls date" id="{{ key }}{{ index }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                      <input type="text" class="input-small datepick{% if fkfield.required %} required{% endif %}" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]" {% if fkfield.value %}value="{{ fkfield.value }}"{% endif %} readonly><span class="add-on"><i class="icon-th"></i></span>
                      {% if fkfield.help %}
                      <span class="help-inline"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                      {% endif %}
                    </div>
                  </div>
                {% elseif fkfield.type == 'file' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <div class="controls">
                      <input type="hidden" class="ownid" name="{{ module }}[{{ key }}][{{ index }}][id]" value="{{ fkfield.id }}">
                      <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                      <input type="file" class="input-file{% if fkfield.required and not fkfield.value %} required{% endif %}" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}|{{ fkfield.path }}|{{ fkfield.accept }}|{{ fkkey|lower }}]" value="{{ fkfield.value }}">
                      {% if fkfield.help %}
                      <span class="help-inline" style="margin-left:12px;"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                      {% endif %}
                      <br /><span class="label">Allowed file types: {{ fkfield.accept }}</span>
                      {% if fkfield.value %}
                      <div class="row-fluid imgbox" style="margin-top:10px;">
                        <div class="span8 well clearfix">
                          {% if fkfield.isimage %}
                          <div class="thumbnails span2 showmodal">
                            <a href="#" class="thumbnail">
                              <img src="/{{ fkfield.value }}">
                            </a>
                          </div>
                          {% endif %}
                          <div class="span6">
                            <span class="label label-info{% if fkfield.isimage %} showmodal2{% endif %}">Current file: {{ fkfield.value }}{% if fkfield.isimage %} <i class="icon-zoom-in icon-white"></i> {% endif %}</span>
                            <br />
                            <label class="checkbox inline">
                              <input type="checkbox" name="removeimages[{{ key|slice(3, 100)|lower }}][{{ fkfield.id }}][{{ fkkey }}]" value="{{ fkfield.value }}"> Remove current {% if fkfield.isimage %}image{% else %}file{% endif %}?
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="modal fade hide" id="modal">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">×</button>
                          <h3>Preview</h3>
                        </div>
                        <div class="modal-body">
                          <center><img src="/{{ fkfield.value }}" style="max-width:500px;" /></center>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                {% elseif fkfield.type == 'select' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <div class="controls">
                      <input type="hidden" class="ownid" name="{{ module }}[{{ key }}][{{ index }}][id]" value="{{ fkfield.id }}">
                      <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                      <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                      <select id="{{ key }}" class="input-xlarge{% if fkfield.required %} required{% endif %}" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]">
                        <option value="">-- Select --</option>
                        {% for item, key in fkfield.values %}
                        <option value="{{ key }}"{% if key == fkfield.value %} selected{% endif %}>{{ item|capitalize }}</option>
                        {% endfor %}
                      </select>
                      {% if fkfield.help %}
                      <span class="help-inline"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                      {% endif %}
                    </div>
                  </div>
                {% elseif fkfield.type == 'radio' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <div class="controls">
                      <input type="hidden" class="ownid" name="{{ module }}[{{ key }}][{{ index }}][id]" value="{{ fkfield.id }}">
                      <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                      <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                      {% for item, key2 in fkfield.values %}
                      <label class="radio{% if fkfield.inline %} inline{% endif %}">
                        <input type="radio" class="{{ fkkey }}{% if fkfield.required %} required{% endif %}" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]" value="{{ key2 }}"{% if key2 == fkfield.value %} checked{% endif %}{% if fkfield.readonly %} disabled{% endif %}>
                        {{ item|capitalize }}
                      </label>
                      {% endfor %}
                      {% if fkfield.readonly %}<input type="hidden" class="{{ fkkey }}" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]" value="{{ fkfield.value }}">{% endif %}
                      {% if fkfield.help %}
                      <span class="help-{% if fkfield.inline %}block{% else %}inline{% endif %}"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                      {% endif %}
                    </div>
                  </div>
                {% elseif fkfield.type == 'foreignkey' %}
                  <!--  -->
                  <div class="fk well control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}][{{ fkfield.id }}][type]" value="{{ fkkey|slice(6, 100)|lower }}">
                    <div class="controls" >
                      <select{% if not fkfield.one %} multiple="multiple"{% endif %} name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}][{{ fkfield.id }}][id]" id="{{ key }}[{{ fkfield.id }}]" class="input-xlarge{% if fkfield.required %} required{% endif %}">
                      {% if fkfield.one %}
                      <option value="">-- Select --</option>
                      {% endif %}
                      {% for fkfield in fkfield.fields %}
                      <option class="bigdrop" value="{{ fkfield.id }}"{% if fkfield.selected %} selected{% endif %}{% if fkfield.selectimage %} data-image="{{ fkfield.selectimage }}"{% endif %}>{{ fkfield.id }}: {{ fkfield.selecttitle }}</option>
                      {% endfor %}
                      </select>
                      {% if fkfield.help %}
                      <span class="help-inline"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}

              {% endfor %}
              <hr>
              </div>
            {% endfor %}
            {% else %}
              <div id="own{{ loop.index }}" class="own own{{ loop.index }}" data-id="{{ loop.index }}">
                <div class="actions pull-right">
                  <a class="btn btn-small btn-link clone"><i class="icon-plus"></i> Add</a>
                  <a class="btn btn-small btn-link remove"><i class="icon-minus"></i> Remove</a>
                </div>
                {% set index = loop.index0 %}
              {% for fkkey, fkfield in o2mstructure[key].fields %}

                {% if fkfield.type == 'text' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <div class="controls">
                      <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                      <input type="text" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]" value="{{ fkfield.value }}" class="input-xlarge{% if fkfield.required %} required{% endif %}{% if fkfield.validate %} {{ fkfield.validate }}{% endif %}"{% if fkfield.maxlength %} maxlength="{{ fkfield.maxlength }}"{% endif %}{% if fkfield.readonly %} readonly{% endif %}>
                      {% if fkfield.help %}
                      <span class="help-inline"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                      {% endif %}
                    </div>
                  </div>
                {% elseif fkfield.type == 'textarea' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <div class="controls">
                      <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                      <textarea class="input-xlarge span8{% if fkfield.rich_editor %} textarea{% endif %}{% if fkfield.required %} required{% endif %}" rows="8" id="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]"{% if field.readonly %} readonly{% endif %}>{{ fkfield.value }}</textarea>
                      {% if fkfield.help %}
                      <p class="help-block"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</p>
                      {% endif %}
                    </div>
                  </div>
                {% elseif fkfield.type == 'date' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %} input-append" data-date="{{ "now"|date("Y-m-d") }}" data-date-format="yyyy-mm-dd" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                    {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                    <div class="controls date" id="{{ key }}{{ index + loop.index }}">
                      <input type="text" class="input-small datepick{% if field.required %} required{% endif %}" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]" {% if fkfield.value %}value="{{ fkfield.value }}"{% endif %} readonly><span class="add-on"><i class="icon-th"></i></span>
                      {% if fkfield.help %}
                      <span class="help-inline"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                      {% endif %}
                    </div>
                  </div>
                {% elseif fkfield.type == 'file' %}
                  <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                    <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                    <div class="controls">
                      <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                      {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                      <input type="file" class="input-file{% if field.required and not fkfield.value %} required{% endif %}" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}|{{ fkfield.path }}|{{ fkfield.accept }}|{{ fkkey|lower }}]" value="{{ fkfield.value }}">
                      {% if fkfield.help %}
                      <span class="help-inline" style="margin-left:12px;"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                      {% endif %}
                      <br /><span class="label">Allowed file types: {{ fkfield.accept }}</span>
                    </div>
                  </div>
                {% elseif fkfield.type == 'select' %}
                <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                  <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                  <div class="controls">
                    <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                    {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                    <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                    <select id="{{ key }}" class="input-xlarge{% if field.required %} required{% endif %}" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]">
                      <option value="" selected>-- Select --</option>
                      {% for item, key in fkfield.values %}
                      <option value="{{ key }}">{{ item|capitalize }}</option>
                      {% endfor %}
                    </select>
                    {% if fkfield.help %}
                    <span class="help-inline"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                    {% endif %}
                  </div>
                </div>
              {% elseif fkfield.type == 'radio' %}
                <div class="control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                  <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                  <div class="controls">
                    <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][type]" value="{{ key|slice(3, 100)|lower }}">
                    {% if session.region %}<input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][region]" value="{{ session.region }}">{% endif %}
                    <input type="hidden" name="{{ module }}[type]" value="{{ module }}">
                    {% for item, key2 in fkfield.values %}
                    <label class="radio{% if fkfield.inline %} inline{% endif %}">
                      <input type="radio" class="{{ fkkey }}{% if fkfield.required %} required{% endif %}" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]" value="{{ key2 }}"{% if fkfield.readonly %} disabled{% endif %}>
                      {{ item|capitalize }}
                    </label>
                    {% endfor %}
                    {% if fkfield.readonly %}<input type="hidden" class="{{ fkkey }}" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}]" value="{{ fkfield.value }}">{% endif %}
                    {% if fkfield.help %}
                    <span class="help-{% if fkfield.inline %}block{% else %}inline{% endif %}"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                    {% endif %}
                  </div>
                </div>
              {% elseif fkfield.type == 'foreignkey' %}
                <!--  -->
                <div class="fk well control-group{% if fkfield.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                  <label class="control-label" for="{{ key }}">{% if fkfield.required %}<span rel="tooltip">{% endif %}{{ fkfield.label|capitalize }}{% if fkfield.required %}</span>{% endif %}</label>
                  <input type="hidden" name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}][0][type]" value="{{ fkkey|slice(6, 100)|lower }}">
                  <div class="controls">
                    <select{% if not fkfield.one %} multiple="multiple"{% endif %} name="{{ module }}[{{ key }}][{{ index }}][{{ fkkey }}][0][id]" id="{{ key }}[{{ fkfield.id }}]" class="input-xlarge select2{% if fkfield.required %} required{% endif %}">
                    <option></option>
                    {% for fkfield in fkfield.fields %}
                    <option class="bigdrop" value="{{ fkfield.id }}"{% if fkfield.selectimage %} data-image="{{ fkfield.selectimage }}"{% endif %}>{{ fkfield.id }}: {{ fkfield.selecttitle }}</option>
                    {% endfor %}
                    </select>
                    {% if fkfield.help %}
                    <span class="help-inline"><i class="icon-info-sign help"></i> {{ fkfield.help|raw }}</span>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
              {% endfor %}
              <hr>
              </div>
            {% endif %}
            {% elseif field.relation == 'shared' %}
              <legend>{{ field.label|capitalize }}{% if field.required %} <small>*</small>{% endif %} <small class="pull-right" style="margin-right: 28px;"><a href="/admin/{{ key|slice(6, 100)|lower }}" target="_blank">[{{ key|slice(6, 100)|capitalize }}]</a></small></legend>
              <div class="control-group{% if field.onload == 'hide' %} hide{% endif %}" data-type="{{ fkkey }}">
                <label class="control-label" for="{{ key }}">{% if field.required %}<span rel="tooltip">{% endif %}{{ field.label|capitalize }}{% if field.required %}</span>{% endif %}</label>
                <div class="controls">
                  <input type="hidden" name="{{ key }}">
                  <select{% if not field.one %} multiple="multiple"{% endif %} name="{{ key }}[]" id="{{ key }}" class="input-xlarge select2{% if field.required %} required{% endif %}">
                  <option></option>
                  {% for fkfield in field.fields %}
                    <option class="bigdrop" value="{{ fkfield.id }}" {% if fkfield.selected == true %}selected{% endif %}{% if fkfield.selectimage %} data-image="{{ fkfield.selectimage }}"{% endif %}>{{ fkfield.id }}: {{ fkfield.selecttitle|raw }}</option>
                  {% endfor %}
                  </select>
                  {% if field.help %}
                    <span class="help-inline"><i class="icon-info-sign help"></i> {{ field.help|raw }}</span>
                  {% endif %}
                </div>
              </div>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if settings.delete %}
              <div id="delete-confirm" class="alert alert-block alert-error hide fade in offset6">
                <h4 class="alert-heading">Confirm deletion...</h4>
                <p>Are you sure you want to delete this item?</p>
                <p>
                  <a class="btn btn-small btn-danger delete-confirm" href="#" data-id="" ><i class="icon-trash icon-white"></i> Delete</a>
                  <a class="btn btn-small cancel" href="#">Cancel</a>
                </p>
              </div>
            {% endif %}

              <div class="form-actions">
                {% if session.region %}<input type="hidden" id="region" name="{{ module }}[region]" value="{{ session.region }}">{% endif %}

                <input type="hidden" name="{{ module }}[id]" value="{{ fields.id }}">
                <input type="hidden" id="modulename" name="modulename" value="{{ module }}">
                <input type="hidden" id="start" name="start" value="{{ fields.start }}">
                <div class="btn-group pull-left">
                  <button type="submit" name="update" class="btn btn-primary"><i class="icon-check icon-white"></i> Save</button>
                  <button type="submit" name="apply" class="btn"><i class="icon-edit"></i> Save and continue editing</button>
                  <a class="btn cancel-edit" href="/admin/{{ module }}"><i class="icon-ban-circle"></i> Cancel</a>
                </div>
                {% if settings.delete %}
                <a class="btn pull-right btn-danger delete" href="#" id="{{ fields.id }}"><i class="icon-trash icon-white"></i> Delete</a>
                {% endif %}
              </div>
            </fieldset>
          </form>

        </div>