
        <div class="span3">

          <div class="accordion" id="accordion">
            {% for key, menugroup in menu %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle{% if loop.first %} active{% endif %}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
                  <i class="icon-plus pull-right"></i>{{ key }}
                </a>
              </div>
              <div id="collapse{{ loop.index }}" class="accordion-body collapse{% if module and module in menugroup|keys %} in{% endif %}">
                <div class="accordion-inner">
                  <ul class="nav nav-list">
                    {% for key, item in menugroup %}
                    {% if item %}
                    <li class="menu_{{ key }}">
                      <a href="/admin/{{ key }}">
                        <i class="icon-list"></i>
                        {{ item|raw }}
                      </a>
                    </li>
                    {% else %}
                    <li class="divider"></li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

        </div><!--/span-->